# Backend URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:4080

# Zuno SDK Configuration
NEXT_PUBLIC_ZUNO_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_DEFAULT_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545