# Backend URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:4080

# Zuno SDK Configuration
NEXT_PUBLIC_ABI_URL=https://abis.qdang46.xyz
NEXT_PUBLIC_ZUNO_API_KEY=zuno_wHFXHMabdKXeNnYdNmEUvzaEpDKxwUzE
NEXT_PUBLIC_ZUNO_NETWORK=anvil